<section class="font-poppins">
    <h1 class="text-2xl text-gray-800 font-semibold mb-4">Mis Hábitos</h1>

    <button (click)="mostrarModal= true"
        class="mb-4 bg-[#62905F] text-white px-4 py-2 rounded-md hover:bg-[#50734c] transition-colors duration-200 font-semibold shadow-md cursor-pointer">Agregar
        Hábito
    </button>

    <div *ngFor="let habit of habits">
        <app-habit-card [habit]="habit" (editar)="editarHabito($event)" (eliminar)="eliminarHabito($event)">
        </app-habit-card>
    </div>
</section>

<div *ngIf="mostrarModal" class="fixed inset-0 flex items-center justify-center bg-black z-50" style="opacity: 0.8;">

    <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg w-full max-w-md font-poppins relative">
        <!-- Botón cerrar -->
        <button (click)="mostrarModal = false"
            class="absolute top-2 right-3 text-gray-600 hover:text-red-600 text-xl font-bold">
            &times;
        </button>

        <h2 class="text-xl font-semibold mb-4">Crear nuevo hábito</h2>
        <p class="text-gray-600 mb-4">Agrega un nuevo hábito a tu lista.</p>
        <form (ngSubmit)="crearHabito()" #formHabito="ngForm" class="mb-6 space-y-2">
            <input [(ngModel)]="newHabit.name" name="name" required placeholder="Nombre del hábito"
                class="p-2 rounded w-full border border-gray-300" />
            <input [(ngModel)]="newHabit.frequency" name="frequency" required placeholder="Frecuencia"
                class="p-2 rounded w-full border border-gray-300" />
            <div class="flex space-x-2">
                <button 
                type="submit" 
                class="bg-green-700 text-white px-4 py-2 rounded hover:bg-green-600 cursor-pointer">
                    Crear Hábito
                </button>
                <button 
                (click)="mostrarModal=false" 
                class="bg-red-700 text-white px-4 py-2 rounded hover:bg-red-600 cursor-pointer">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>