/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --color-primary: #1F3738;
  --color-secondary: #d6d5c1;
  --color-tertiary: #BAA89B;
  --fc-border-color: #1F3738;
  --fc-button-bg-color:var(--color-primary);
  --fc-event-bg-color: #62905F;
  --fc-event-border-color: #62905F;
}

.fc-today-button{
  background-color: #62905F!important;
  opacity: 1!important;
  border-color: #62905F!important;
  cursor: pointer!important;
}

body {
  background-color: #d6d5c1; 
  font-family: 'Poppins', sans-serif;
}