<!-- navbar.component.html -->
<nav class="shadow-md bg-primary py-4 font-poppins text-white-700" style="background-color: #1F3738;color:rgb(216, 216, 216)!important">
    <div class="container text-white-700 mx-auto flex justify-center space-x-8">
      <a routerLink="/dashboard" routerLinkActive="text-[#62905F] font-semibold"
         class="hover:text-[#BAA89B] transition-colors duration-200 cursor-pointer">Dashboard</a>
      <a routerLink="/habits" routerLinkActive="text-[#62905F] font-semibold"
         class="hover:text-[#BAA89B] transition-colors duration-200 cursor-pointer">Hábitos</a>
      <a routerLink="/tasks" routerLinkActive="text-[#62905F] font-semibold"
         class="hover:text-[#BAA89B] transition-colors duration-200 cursor-pointer">Tareas</a>
      <a routerLink="/calendar" routerLinkActive="text-[#62905F] font-semibold"
         class="hover:text-[#BAA89B] transition-colors duration-200 cursor-pointer">Calendario</a>
      <a routerLink="/statistics" routerLinkActive="text-[#62905F] font-semibold"
         class="hover:text-[#BAA89B] transition-colors duration-200 cursor-pointer">Estadísticas</a>
    </div>
  </nav>
  